body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

textarea {
  width: 90%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select,
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

select:focus,
input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  width: calc(50% - 20px);
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004494;
}

button + button {
  margin-left: 20px;
}

#generateKeyBtn {
  width: 100%;
  margin-bottom: 15px;
  background-color: #28a745;
}

#generateKeyBtn:hover {
  background-color: #218838;
}

#generateKeyBtn:active {
  background-color: #1e7e34;
}

@media (max-width: 500px) {
  button,
  #generateKeyBtn {
    width: 100%;
    margin-bottom: 10px;
  }

  button + button {
    margin-left: 0;
  }
}
